language = "nodejs"
run = "npm run dev"

[deploy]
run = ["sh", "-c", "npm run build && npm start"]

[env]
NODE_ENV = "development"
PORT = "3000"

[packager]
language = "nodejs"
ignoredPackages = ["unit_tests"]

[packager.features]
packageSearch = true
guessImports = true
enabledForHosting = false

[gitHubImport]
requiredFiles = [".replit", ".replit.nix", "replit.nix"]

[languages.javascript]
pattern = "**/{*.js,*.jsx,*.ts,*.tsx}"

[languages.javascript.languageServer]
start = "typescript-language-server --stdio"

[interpreter]
command = ["node"]

[unitTest]
language = "nodejs"
